
   Réinitialisation du mot de passe

    Réinitialisation du mot de passe
  
        Vous avez reçu cet e-mail car vous avez demandé la réinitialisation du mot de passe pour votre compte.
        Veuillez suivre le lien ci-dessous pour réinitialiser votre mot de passe :

        {{ protocol }}://{{ domain }}{% url 'authentification:password_reset_confirm' uidb64=uid token=token %}
            Réinitialiser votre mot de passe

        Si vous n'avez pas demandé cette réinitialisation, veuillez ignorer cet e-mail.

